html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.container {
    padding: 2rem;
    width: 90rem;
}
.container__sections{
    padding-top: 3rem;
}
.header__title{
    background-color: skyblue;
    border: 1px solid blue;
    text-align: center;
}

.list__cameras_types, #list__images {
    vertical-align: top;
    display: inline-block;
    font-size: 1.5rem;
}

.list__cameras_types{
    width: 28rem;
    border: 2px solid black;
}
li {
    padding-bottom: 2rem;
}
#list__images{
    margin-left: 1rem;
    width: calc(100% - 30rem);
}
.list__images--column{
    width: 12rem;
    display: inline-block;
    margin: 0px 0px 5rem 5rem; 
}